$gray: #e3e3e3;
$gray-semi-60: #fafafad5;
$orange-corp: #f6a887;
$orange-corp-dark: #ac694d;
$red: #f05454;
$green: #b1e693;
$yellow: #efc356;
$black: #000000;
$white: #ffffff;
$blue-corp: #73dee4;
$blue-corp-dark: #53a7ac