.filter-bar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid $gray;

  &__icon {
    svg {
      width: 40px;
      fill: $black;
      margin: 0 1em 0 0;
    }
  }

  select {
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 1em;
    margin: 0 1em 0 0;
    color: $black;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
  }
}