.row-nowrap-center-start {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.col-wrap-center-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}