* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  background: $white;
  color: $black;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

input, button {
  font-size: 1rem;
  font-family:'Inter', sans-serif;    
}

a {
  text-decoration: none;
}


// To organize

.divider {
  border-bottom: 1px solid $gray;
  margin: 1em;
}

.title-page {
  width: 100%;
  padding: 1em;
  margin: 1em 0 0 0;
  text-align: left;

  &__results {
    font-size: 0.8rem;
  }
}

.btn {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 5px;
  background: $blue-corp;
  color: $black;
  transition: all ease 0.3s;

  &__large {
    padding: 0.5em 1em;
  }

  &__medium {
    padding: 0.2em 0.5em;
  }

  &:hover {
    background: $blue-corp-dark;
  }
}

.row-nowrap-center-start {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.col-wrap-center-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.justify-top {
  justify-content:  flex-start;
}