.header {
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid $gray;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    img {
      max-width: 200px;
      height: auto;
    }
  }

  &__actions {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;

    button {
      cursor: pointer;
      appearance: none;
      border: none;
      outline: none;
      border-radius: 5px;
      background: $orange-corp;
      color: $black;
      padding: 0.5em 1em;
      margin: 0 0 0 1em;
      transition: all ease 0.3s;

      &:hover {
        background: $orange-corp-dark;
      }
    }
  }
}