.home {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
  padding: 1em;

  &__pagination {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    button {
      svg {
        width: 40px;
        fill: #f7a649;
        transition: all ease 0.3s;


        &.disabled {
          fill: #e3e3e3;

          &:hover {
            fill: #e3e3e3;
          }
        }

        &:hover {
          fill: #e08925;
        }
      }
      cursor: pointer;
      appearance: none;
      border: none;
      background: none;
      outline: none;
      padding: 0.5em 1em;
      margin: 0 1em;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}